body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 0;
}

#root {
    font-size: 5vh;
    color: white;
    background-color: black;
    font-family: "Lucida Console";
}

#spinner {
    width: 100vw;
    height: 100vh;
}

.spinner-border {
    width: 25vmin;
    height: 25vmin;
}

#carousel {
    width: 100vw;
    height: 100vh;
}

.carousel-control-prev {
    height: 7.5vh;
}

.carousel-control-next {
    height: 7.5vh;
}

.carousel-item {
    width: 100vw;
    height: 100vh;
}

.carousel-indicators {
    height: 0vh;
    margin: 0;
    align-items: center;
}

.title {
    height: 7.5vh;
    align-items: center;
    justify-content: center;
}

.main {
    height: 92.5vh;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
}

.main textarea {
    display: block;
    resize: none;
    width: 100vw;
    background-color: black;
    font-size: 2vh;
    color: white;
    padding: 2vmin;
}

.toolbar {
    height: 7.5vh;
}

.form-select {
    color: white;
    border-width: 0.5vmin;
    border-color: white;
    background-color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.form-select:active {
    outline: none;
    box-shadow: none;
    color: white;
    border-color: white;
    background-color: white;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    color: white;
    border-color: white;
    background-color: black;
}

.form-select option {
    color: white;
}

.counter {
    height: 7.5vh;
    padding: 2vmin;
}

.data {
    height: 70vh;
    background-color: green;
}

.data>* {
    display: block;
    resize: none;
    overflow-y: scroll;
    width: 100vw;
    font-size: 2vh;
    color: white;
    padding: 2vmin;
    border: 0.5vmin solid white;
}

.question {
    height: 25vh;
    background-color: black;
}

.a_answer {
    height: 11.25vh;
    background-color: black;
}

.b_answer {
    height: 11.25vh;
    background-color: black;
}

.c_answer {
    height: 11.25vh;
    background-color: black;
}

.d_answer {
    height: 11.25vh;
    background-color: black;
}

.commandbar {
    height: 7.5vh;
}

.btn {
    border-width: 0.5vmin;
    border-color: white;
    background-color: black;
    font-size: 4vh;
}

.btn:active {
    outline: none;
    box-shadow: none;
    color: black;
    border-color: white;
    background-color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
    background-color: black;
}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}

#search .search {
    outline: none;
    box-shadow: none;
    border-width: 0.5vmin;
}

#search .question {
    height: 35vh;
    background-color: black;
}

#search .answer {
    height: 35vh;
    background-color: black;
}

@media only screen and (orientation:landscape) {

    #search .data {
        display: flex;
        flex-direction: row;
    }

    #search .question {
        height: 70vh;
        background-color: black;
    }

    #search .answer {
        height: 70vh;
        background-color: black;
    }
}